page-how-it-work {
	.slider-body{
	height: 100%;
}
.slider-h{
	font-weight: 600;
}
.slider-d{
	font-size: 1.3rem;
}
.swiper-pagination-bullet-active {
  background: #1b4079 none repeat scroll 0 0;
  opacity: 1;
}
.swiper-slide img {
    height: auto;
    max-height: 100%;
    max-width: 60%;
    width: auto;
}

}
