

<ion-header color="orang">
    <ion-navbar color="orang"  text-center>
        <ion-title text-center class="text-center custom-heading">Forgot Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="content-style">
    <ion-list no-lines  >
        <div  *ngIf= "show2">
            <form [formGroup]="form4">
                <div class="spacer" style="height:100px"></div>
                <ion-item class="item-st">
                    <ion-label stacked class="font-st color-st text-left">{{"register.email"| translate }}
                    </ion-label>
                    <ion-input type="email" placeholder="Enter Your Email" formControlName="username"  class="input-st" required></ion-input>
                </ion-item>
                <div class="text-center">
                    <button  ion-button class="button-st bg-blue" (click)="forgotpswd_btn()" [disabled]="form4.invalid">FORGOT PASSWORD</button>
                </div>
            </form>
        </div>
    </ion-list>
    <div  *ngIf= "show">
        <div class="bg-blue text-center font-st div-reset"> Reset Password </div>
        <ion-list no-lines>
            <ion-item class="item-st">
                <ion-label stacked class="font-st color-st text-left">{{"register.email"| translate }}
                </ion-label>
                <ion-input type="email" placeholder="Enter Your Email" [(ngModel)]="usernam"  class="input-st"></ion-input>
            </ion-item>
            <ion-item class="item-st">
                <ion-label stacked class="font-st color-st text-left">KEY
                </ion-label>
                <ion-input placeholder="Enter Your Key"  [(ngModel)]= "old_password"  class="input-st"></ion-input>
            </ion-item>
            <ion-item class="item-st">
                <ion-label stacked class="font-st color-st text-left">{{"login.pass" | translate}}
                </ion-label>
                <ion-input type="password" placeholder="Enter Your Password" [(ngModel)]="password"  class="input-st" ></ion-input>
            </ion-item>
            <ion-item class="item-st">
                <ion-label stacked class="font-st color-st text-left">CONFIRM PASSWORD
                </ion-label>
                <ion-input type="password" placeholder="Confirm your Pasaword"  [(ngModel)] ="confirm_password" class="input-st" ></ion-input>
            </ion-item>
            <div class="text-center">
                <button ion-button class="button-st bg-blue" (click)= "changepswd()" >RESET PASSWORD</button>
            </div>
        </ion-list>
    </div>
</ion-content>

