page-forgotpassword {

// .class1{
// text-align:center;
// font-weight: 300;
// font-size: 20px
// }
// .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
//     margin-bottom: 8px;
//     margin-left: 0;
//     margin-top: -3px;
//     width: calc(100% - 8px);
// }
// .class2{
//  border-style: solid;
//     border-width: 2px;
// border-color: #fff;
//  background-color: #fff;
// margin-left: 5%;
// margin-top: 27px;
// width: 90%;
// height: 8%
// }
// .scroll-content {
//     bottom: 0;
//     display: block;
//     left: 0;
//     overflow-x: hidden;
//     overflow-y: scroll;
//     position: absolute;
//     right: 0;
//     top: 0;
//     will-change: scroll-position;
//     z-index: 1;
//     padding-bottom: 300px !important
// }
ion-item{
    border-bottom: none!important;
}

.list-md .item-input.ng-invalid.ng-touched:last-child:not(.input-has-focus) {
    border-bottom-color: none!important;
    box-shadow: none!important;
  
}
.item-input ion-input, .item-input ion-textarea {
    border: 2px solid #555;
    position: static;
    padding-left: 10px;
    background: white;
    color: #555
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent;
  box-shadow: none;
}
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent;
  box-shadow: none;
}

// .list-md .item-input.input-has-focus:last-child {
//   border-bottom-color: none!important;
//   box-shadow: 0 -1px 0 0 #488aff inset;
// }
// .button-block-md {
//     margin-left: 48px;
//     margin-right: 0;
//     margin-top: 26px

// }
    .item-st{
        background-color: transparent;
        border: none;
    }

    .button-st{
        width: 60%;
        box-shadow: 2px 2px 0px 0 rgba(0,0,0,0.2);
        font-size: 14px;
        border-radius: 1px;
        color:white;
        height: 2.6em;
        margin: 0.6rem 0.2rem;
        font-family: 'GreycliffCF-DemiBold';
        font-size: 16px;
    }
  .div-reset{
    color:white;
    font-size: 26px
  }

}
